<div class="form_group center-block col-md-8 offset-md-2">
  <%= form_with(model: blog, local: true) do |form| %>
    <% if blog.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

        <ul>
          <% blog.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group mt-3">
      <div class="row center-block">
        <%= form.label :title%>
        <div class="col-sm-12">
          <%= form.text_field :title, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group mt-3">
      <div class="row center-block">
        <%= form.label :content %>
        <div class="col-sm-12">
          <%= form.text_field :content, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="actions">
        <%= link_to blogs_path, class: "btn btn-light btn-s-md" do %>
          <i class="fas fa-undo-alt"></i>back
        <% end %>
        <%= button_tag :type => "submit",:class =>"btn btn-default btn-s-md" do %>
          ok <i class="far fa-thumbs-up"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
