<div class="row">
  <div class="blog mb-3 text-center">
    <h1>Listing Blogs</h1>
  </div>
  <div class="col-md-3">
    <%= render 'layouts/profile' %>
  </div>
  <div class="col-md-9">
    <div class="row">
      <% @blogs.each do |blog| %>
        <div class="col-md-3 pb-3">
          <div class="blog-panel text-center ">
            <% if blog.user != nil %>
              <h3 class=" p-3"><%= blog.user.name %></h3>
            <% end %>
            <h3 class="m-3"><%= blog.title %></h3>
            <h6 class="m-2"><%= blog.content %></h6>
            <div class="blog-links ">
              <%= link_to 'Show', blog, class: "btn btn-default m-2" %><br>
              <% if user_signed_in? %>
                <% if blog.user == current_user %>
                  <%= link_to 'Edit', edit_blog_path(blog), class: "btn btn-info m-2" %><br>
                  <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger destroy m-2"%>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
