<div class="row">
  <div class="blog mb-3 text-center">
    <h1>Listing Blogs</h1>
  </div>
  <div class="col-md-3">
    <%= render 'layouts/profile' %>
  </div>
  <div class="col-md-9">
    <div class="row">
      <% @blogs.each do |blog| %>
        <div class="col-md-3 pb-3">
          <div class="blog-panel text-center ">
            <% if blog.user.name != nil %>
              <h3 class=" p-3"><%= blog.user.name.truncate(10)%></h3>
            <% else %>
              <h3 class="p-3" no-user</h3>
            <% end %>
            <h3 class="m-3"><%= blog.title.truncate(5) %></h3>
            <h6 class="m-2"><%= blog.content.truncate(15) %></h6>
            <div class="blog-links ">
              <%= link_to 'Show', blog, class: "btn btn-light m-2" %><br>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
