<h1>お問い合わせ</h1>

<%= form_for @contact, url: blogs_new_contact_confirmation_path do |f| %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <label><%= f.radio_button :category, "achieve" %>achieve</label>
    <label><%= f.radio_button :category, "テキスト" %>テキスト</label>
    <label><%= f.radio_button :category, "説明会" %>説明会</label>
    <label><%= f.radio_button :category, "その他" %>その他</label>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit  "内容確認"%>
  </div>
<% end %>
