<div class="text-center">
  <h1>
    <%= @blog.title %>
  </h1>
</div>

<div class="text-center">
  <p>
  <%= @blog.content %>
  </p>
</div>
<div class="text-center">
  <% if user_signed_in? %>
    <% if @blog.user != nil %>
      <% if @blog.user == current_user %>
        <%= link_to 'Edit', edit_blog_path(@blog), class:"btn btn-outline-dark mb-3" %> |
      <% end %>
    <% end %>
  <% end %>
  <%= link_to 'Back', blogs_path, class:"btn btn-outline-dark mb-3"%>
</div>

<% if user_signed_in? %>
  <div class="text-center center-block">
    <% @comments.each do |comment| %>
      <%= comment.user.name %>
      <%= comment.body %>
      <% if current_user == comment.user %>
        <%= link_to "edit" ,edit_comment_path(comment) %>
        <%= link_to "destroy", comment_path(comment), method: :delete %>
      <% end %>
      <br>
    <% end %>
    <%= form_for @comment do |f| %>
    <%= f.text_field :body %>
    <%= f.hidden_field :blog_id, value: @blog.id %>
    <%= f.submit %>
    <% end %>
  </div>
<% end %>
