<div class="row">
  <div class="users mb-3 text-center">
    <h1>Listing Users</h1>
  </div>
  <div class="col-md-3">
    <%= render 'layouts/profile' %>
  </div>

    <div class="col-md-9">
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-md-6 ">
            <div class="row">
              <div class="col-md-10 offset-md-1 user-panel mt-2 mb-2">
                <h4 class="pt-1 text-center"><%= user.name %></h4>
                <p class="text-center">
                <% if user.icon.attached? %>
                  <%= image_tag(user.icon) %>
                <% else %>
                  <%= image_tag("noimage.png") %>
                <% end %></p>
                <div class="blog-links text-center">
                  <%= link_to 'Show', user, class: "btn btn-light m-2" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
