
<div class="contact">
  <h3>お問い合わせ内容確認</h3>
  <%= form_for @contact do |f| %>
    <p>名前: <%= @contact.username %></p>
    <%= f.hidden_field :username %>
    <p>メールアドレス: <%= @contact.email %></p>
    <%= f.hidden_field :email %>
    <p>カテゴリー: <%= @contact.category %></p>
    <%= f.hidden_field :category %>
    <p>内容: <%= @contact.content %></p>
    <%= f.hidden_field :content %>

    <%=  button_tag type: 'submit', :name=>'back', :class =>"btn btn-default btn-s-md" do %>
      <i class="fas fa-undo-alt"></i>戻る
    <% end %>

    <%= button_tag :type => "submit",:class =>"btn btn-default btn-s-md" do %>
    <i class="fas fa-check">送信</i>
    <% end %>
  <% end %>
</div>
