<div class="row m-3">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <h5 class="card-header text-center">お問い合わせ</h5>
      <div class="form_group col-md-8 offset-md-2">
        <% if @contact.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this blog from being saved:</h2>
            <ul>
              <% @contact.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= form_for @contact, html: {method: 'GET'} do |f| %>
          <div class="form-group mt-3">
            <div class="row center-block">
              <%= f.label :name %>
              <div class="col-sm-12">
                <%= f.text_field :username, class: "form-control"%>
              </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <div class="row center-block">
              <%= f.label :email %>
              <div class="col-sm-12">
                <%= f.email_field :email, class: "form-control"%>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 btn-group" data-toggle="buttons">
              <label class="btn btn-outline-secondary" style="width:50%">
                <%= f.radio_button :category, "achieve", class:"label"%>achieve
              </label>
            </div>
            <div class="col-sm-12 btn-group" data-toggle="buttons">
              <label class="btn btn-outline-secondary" style="width:50%">
                <%= f.radio_button :category, "テキスト", class:"label" %>テキスト
              </label>
            </div>
            <div class="col-sm-12 btn-group" data-toggle="buttons">
              <label class="btn btn-outline-secondary" style="width:50%">
                <%= f.radio_button :category, "説明会", class:"label" %>説明会
              </label>
            </div>
            <div class="col-sm-12 btn-group" data-toggle="buttons">
              <label class="btn btn-outline-secondary" style="width:50%">
                <%= f.radio_button :category, "その他", class:"label" %>その他
              </label>
            </div>
          </div>
          <div class="form-group mt-3">
            <div class="row center-block">
              <%= f.label :content %>
              <div class="col-sm-12">
                <%= f.text_area :content, class: "form-control"%>
              </div>
            </div>
          </div>
          <div class="actions">
            <%= button_tag :type => "submit",:class =>"btn btn-default btn-s-md" do %>
              <i class="fas fa-hand-point-right"></i>確認
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
