<% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container">
     <%= link_to "Active", root_path, class:"navbar-brand" %>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarResponsive">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item">
           <%= link_to "Home", blogs_path, class:"nav-link" %>
         </li>
         <li class="nav-item">
           <%= link_to "Users", users_path, class:"nav-link" %>
         </li>
         <li class="nav-item">
           <%= link_to "New Contact", new_contact_path, class:"nav-link" %>
         </li>
         <li class="nav-item">
           <%= link_to "New Blog", new_blog_path , class:"nav-link"%>
         </li>
         <li class="nav-item">
           <%= link_to "Logout", destroy_user_session_path, method: :delete , class:"nav-link"%>
         </li>
       </ul>
     </div>
   </div>
 </nav>
<% else %>
<<<<<<< HEAD
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
=======
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
>>>>>>> 26363f4... 0308-10 commit
    <div class="container">
      <a class="navbar-brand" href="#">Achieve</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
           <%= link_to "blogs", blogs_path, class:"nav-link" %>
         </li>
         <li class="nav-item">
           <%= link_to "Users", users_path, class:"nav-link" %>
         </li>
         <li class="nav-item">
           <%= link_to "login", new_user_session_path , class:"nav-link"%>
         </li>
         <li class="nav-item">
           <%= link_to "signup",new_user_registration_path, class:"nav-link"%>
         </li>
       </ul>
     </div>
   </div>
 </nav>
<% end %>
